name: CI

on:
  push:
    branches:
      - main
    tags:
      - "[0-9]*"
  pull_request:
    branches:
      - main

permissions:
  actions: read
  contents: read

jobs:
  build:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
#           - ubuntu-24.04-arm
#           - macos-15-intel
#           - macos-14
#           - windows-latest
#           - windows-11-arm
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up QEMU
        if: runner.os == 'Linux' && runner.arch == 'X64'
        uses: docker/setup-qemu-action@v3
        with:
          platforms: all

      - name: Build wheels
        uses: pypa/cibuildwheel@v3.3.1
        env:
          CIBW_ARCHS_LINUX: ${{ runner.arch == 'X64' && 's390x armv7l riscv64' || 'auto' }}
          # ppc64le - segmentation fault
          CIBW_BUILD_FRONTEND: pip
          CIBW_BUILD_VERBOSITY: 1
          CIBW_TEST_COMMAND: "pip install pytest && pytest /project/tests"
          CIBW_SKIP: "cp3??t-*"

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: wheels-${{ matrix.os }}-${{ strategy.job-index }}
          path: ./wheelhouse/*.whl
          if-no-files-found: error

  upload:
#     if: startsWith(github.ref, 'refs/tags/')
    needs: [build]
    runs-on: ubuntu-latest

    steps:
      - uses: actions/download-artifact@v4
        with:
          pattern: wheels-*
          merge-multiple: true
          path: wheelhouse

      - name: Display structure of downloaded files
        run: ls -lh wheelhouse

#       - uses: pypa/gh-action-pypi-publish@release/v1
#         if: startsWith(github.ref, 'refs/tags/')
#         with:
#           skip-existing: true
#           user: ${{ secrets.PYPI_USERNAME }}
#           password: ${{ secrets.PYPI_PASSWORD }}
