name: CI

on: [push]

permissions:
  actions: read
  contents: read

env:
  POETRY_VERSION: "2.1.2"
  PYTHON_VERSION: "3.13"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6
        id: setup-python
        with:
          python-version: ${{ env.PYTHON_VERSION }}

      - name: Load cached Poetry installation
        id: cached-poetry
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        with:
          path: ~/.local
          key: poetry-${{ runner.os }}-${{ env.POETRY_VERSION  }}-${{ steps.setup-python.outputs.python-version }}

      - name: Install Poetry
        id: install-poetry
        if: steps.cached-poetry.outputs.cache-hit != 'true'
        uses: snok/install-poetry@76e04a911780d5b312d89783f7b1cd627778900a # v1
        with:
          version: ${{ env.POETRY_VERSION }}
          virtualenvs-create: true
          virtualenvs-in-project: true
          installer-parallel: true

      - name: Poetry git plugin
        run: poetry self add poetry-git-version-plugin

      - name: Load cached venv
        id: cached-poetry-dependencies
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4
        with:
          path: .venv
          key: venv-${{ runner.os }}-${{ steps.setup-python.outputs.python-version }}-${{ hashFiles('**/poetry.lock') }}

      - name: Create a symlink to the pydust lib
        run: |
            pip install ziggy-pydust==0.26.0
            PYDUST_PATH=`python -c 'import sysconfig; print(sysconfig.get_paths()["purelib"])'`/pydust
            ln -sf $PYDUST_PATH ./pydust
            ls -al ./pydust/src/ffi.h

      - name: Poetry Install
        run: poetry install -n -v

      - name: Poetry Build
        run: poetry build -v

      - name: Ruff check
        uses: astral-sh/ruff-action@v3

      - name: Ruff format
        uses: astral-sh/ruff-action@v3
        with:
          args: format --check .

      - name: Pytest
        run: poetry run pytest

      - name: Check stubs
        run: poetry run python -m ziglang build generate-stubs -Dcheck-stubs=true
