name: CI

on:
  push:
    branches:
      - main
    tags:
      - "[0-9]*"
  pull_request:
    branches:
      - main

permissions:
  actions: read
  contents: read

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest]
        python-version:
          - "3.11"
          - "3.12"
          - "3.13"

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.8.22"

      - name: Set up Python ${{ matrix.python-version }}
        run: uv python install ${{ matrix.python-version }}

      - name: Install dependencies
        run: uv sync --no-install-project

      - name: Create a symlink to the pydust lib
        run: |
            python -c 'import sysconfig; print(sysconfig.get_paths())'
            find .venv -type f -name ffi.h
            ln -sf .venv/lib/python${{ matrix.python-version }}/site-packages/pydust ./pydust
            ls -al ./pydust/src/ffi.h

      - name: Poetry Build
        run: |
            uv run poetry build -v
            ls -al ./dist

      - name: Ruff check
        run: uv run ruff check .

      - name: Ruff format
        run: uv run ruff format --check .

      - name: Pytest
        run: uv run pytest test

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: wheels
          path: ./dist/*.whl
          if-no-files-found: error

      # We generate nice stubs manually.
      #- name: Check stubs
      #  run: uv run python -m ziglang build generate-stubs -Dcheck-stubs=true

  upload:
#     if: startsWith(github.ref, 'refs/tags/')
    needs: [build]
    runs-on: ubuntu-latest

    steps:
      - uses: actions/download-artifact@v4
        with:
          pattern: secretsweeper-*.whl
          merge-multiple: true
          path: dist

      - name: Display structure of downloaded files
        run: ls -lh dist

#       - uses: pypa/gh-action-pypi-publish@release/v1
#         if: startsWith(github.ref, 'refs/tags/')
#         with:
#           skip-existing: true
#           user: ${{ secrets.PYPI_USERNAME }}
#           password: ${{ secrets.PYPI_PASSWORD }}
